:root {
   --bg-color: #002A22;
   --bg-nav: #28502E;
   --color-dot: #fddb3a;
   --white-color: white;
}

body {
    background-color: var(--bg-color);
    font-family: 'Courier New', monospace;
}

html {
    scroll-behavior: smooth;
}

/* navbar  */

.navMenu {
    position: sticky;
    width:100vw;
    border:solid 1px transparent;
    background-color: var(--bg-nav);
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navMenu a {
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.navMenuBasic {
    position:sticky;
    width:100vw;
    border:solid 1px transparent;
    background-color: var(--bg-nav);
    text-align: left;
    overflow: hidden;
    padding-left: 20px;
}

.navMenuBasic a{
    font-size: 30px;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.navLeft {
    float: left;
}

.navLeft a {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    padding-left: -20px;
    padding-right: 5px;
}

.navRight {
    float: right;
}

.navRight a {
    text-align: center;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

.navRightBasic a {
    float: right;
    text-decoration: none;
    padding-left: 87px;
    padding-right: 5px;
}

/* navbar dot animations */
.navMenu .navRight .dot {
    width: 6px;
    height: 6px;
    background: var(--color-dot);
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(33px);
  transform: translateX(33px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(115px);
  transform: translateX(115px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(220px);
  transform: translateX(220px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:hover {
    color: var(--color-dot);
}

/* cards for index */

.big-group {
    margin: 0px;
    height: 90vh;
    display: grid;
    place-items: center;
}

.card-groups {
    display: table;
    table-layout: fixed;
    width: 80vh;
    height: 45vh;
    border-collapse: separate;
    border-spacing: 120px 0;
}

.card-groups .card-group {
    display: table-cell;
    padding: 20px 0;
}

.card-groups, .card-group, .card{
    aspect-ratio: 5/7;
    width: 30vmin;
}

.big-group .card-group .card {
    border-radius: 1vmin;
    position: absolute;
    transition: transform 300ms cubic-bezier(.23,.65,.47,.97);
}

.card:nth-child(1) {
    background-color: purple;
    transform: translateX(-10%) rotate(-2deg);
}

.card:nth-child(2) {
    background-color: white;
    transform: rotate(3deg);
}

.card:nth-child(3) {
    background-color: green;
    transform: translateX(-3%) rotate(-3deg);
}

.card-group:hover > .card{
    box-shadow: -2vmin 2vmin 3vmin rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.card-group:hover > .card:nth-child(1) {
    transform: translate(-40%, 3%) rotate(-20deg);
}

.card-group:hover > .card:nth-child(2) {
    transform: translate(-15%, 2%) rotate(-8deg);
}

.card-group:hover > .card:nth-child(3) {
    transform: translate(15%, 5%) rotate(8deg);
}

.big-group .card-group .dark-bg {
    height: 100vh;
    width: 100vh;
    background: (0, 0, 0, 0);
}

/* page layout for learn*/
main > nav {
    position: sticky;
    align-self: start;
    top: 5rem;
}

.learnHeading, .learnSubsection, .learnPara {
    color: white;
}

.sidenav {
	padding-left: 0;
	border-left: 2px solid #efefef;
}

.sidenav a {
	text-decoration: none;
	display: block;
	padding: .125rem 0;
	color: #ccc;
	transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.sidenav a:hover,
.sidenav a:focus {
	color: #666;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	margin-left: 1rem;
    text-decoration: none;
}

h1 {
	font-weight: 300;
}

main {
	display: grid;
	grid-template-columns: 1fr 15em;
	max-width: 100em;
	width: 90%;
	margin: 0 auto;
}

.article {
    margin-right: 30px;
}

.bullets-list {
    color: white;
    display: list-item;
    list-style-type: circle;
}

.bullets {
    padding-left: 15px;
}

.side-nav-ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.side-nav-li {
    margin-left: 1rem;
}

/* Solver css*/

.solver-container {
    display: flex;
    margin: 4vh;
    border-color: purple;
    border-style: dashed;
    align-items: center;
}

.solver-heading {
    color: rgba(255, 255, 255, 1);
    align-items: left;
    font-size: 25px;
}

.solver-words {
    flex: 1;
    border-color: lightblue;
    border-style: dashed;
}

.solver-dropdowns {
    flex: 2;
    border-color: lightcoral;
    border-style: dashed;
}

.form-label {
    color: white;
}

.user-dropdown {
    display: flex;
    justify-content: space-between;
    width: calc(75%);
    border-color: lightgreen;
    border-style: dashed;
}

.dropdown1, .dropdown2 {
    flex: 3;
}

.solver-title {
    color: white;
    margin-top: 3vh;
    margin-left: 4vh;
}