:root {
   --bg-color: #002A22;
   --bg-nav: #28502E;
   --color-dot: #fddb3a;
}

body {
    background-color: var(--bg-color);
    font-family: 'Courier New', monospace;
    text-align: center;
}

/* navbar  */

.navMenu {
    position: absolute;
    width:100vw;
    border:solid 1px transparent;
    background-color: var(--bg-nav);
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navMenu a {
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.navMenuBasic {
    position:absolute;
    width:100vw;
    border:solid 1px transparent;
    background-color: var(--bg-nav);
    text-align: left;
    overflow: hidden;
    padding-left: 20px;
}

.navMenuBasic a{
    font-size: 30px;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.navLeft {
    float: left;
}

.navLeft a {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    padding-left: -20px;
    padding-right: 5px;
}

.navRight {
    float: right;
}

.navRight a {
    text-align: center;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

.navRightBasic a {
    float: right;
    text-decoration: none;
    padding-left: 87px;
    padding-right: 5px;
}

/* navbar dot animations */
.navMenu .navRight .dot {
    width: 6px;
    height: 6px;
    background: var(--color-dot);
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(33px);
  transform: translateX(33px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(115px);
  transform: translateX(115px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(220px);
  transform: translateX(220px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:hover {
    color: var(--color-dot);
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#player-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}