:root {
   --bg-color: #002A22;
   --bg-nav: #D9DBF1;
}

body {
    background-color: var(--bg-color);
}

.navMenu {
    position: absolute;
    overflow:hidden;
    height:calc(3em + 4px);
    padding:calc(1em + 2px);
    width:100vw;
    border:solid 1px transparent;
    padding:1em;
}

.navMenu a {
    float: left;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

.navRight {
    float:right;
}

.navRight a {
    padding-left: 5px;
    padding-right: 5px;
}

.navMenu .navRight .dot {
    width: 6px;
    height: 6px;
    background: #fddb3a;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(25px);
  transform: translateX(25px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(85px);
  transform: translateX(85px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(165px);
  transform: translateX(165px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:hover {
    color: white;
}